{% extends "base_simple.html" %}
{% block sidebar%}
{% endblock sidebar %}
{% block title %}
    {{theobject}} manage
{%endblock title%}
{% block content %}
    <h1>{{theobject}} List</h1>

    {% if list_data %}
        <table class="table table-striped table-hover table-bordered table-sm">
            <thead>
                <tr>    
                    {% for key in list_keys %}
                        <th>{{ key }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for row in list_data %}
                <tr>    
                    {% for col in row %}
                        <td>{{ col }}</td>
                        {% if forloop.counter == 1%}
                        <a href=""></a>
                        {% endif %}
                    {% endfor %}
                </tr>           
            {% endfor %}     
            </tbody>
        </table>
    {% else %}
      <p>There are no {{ theobject }}'s.</p>
    {% endif %}
{% endblock %}